html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    height: 100%;
    width: 100%;
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gradient-text {
    background: linear-gradient(90deg, #4a90e2, #29b6f6, #00c853, #29b6f6, #4a90e2); /* Blue, lighter blue, green, back to lighter blue and blue for smooth looping */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradientMove 5s infinite linear;
    background-size: 200% 200%; /* Make the background larger for movement */
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

